.tile.tile-bkb-0 .tile-inner, .tile.tile-bkb-1 .tile-inner, .tile.tile-bkb-2 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-0 .tile-inner, .tile.tile-bkb-1 .tile-inner, .tile.tile-bkb-2 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
    }
}

.tile.tile-bkb-4 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -53px 0px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-4 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -29px 0px;
    }
}

.tile.tile-bkb-8 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -106px 0px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-8 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -58px 0px;
    }
}

.tile.tile-bkb-16 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -159px 0px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-16 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -87px 0px;
    }
}

.tile.tile-bkb-32 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: 0px -53px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-32 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: 0px -29px;
    }
}

.tile.tile-bkb-64 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -53px -53px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-64 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -29px -29px;
    }
}

.tile.tile-bkb-128 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -106px -53px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-128 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -58px -29px;
    }
}

.tile.tile-bkb-256 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -159px -53px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-256 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -87px -29px;
    }
}

.tile.tile-bkb-512 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: 0px -106px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-512 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: 0px -58px;
    }
}

.tile.tile-bkb-1024 .tile-inner {
  background-image: url(../image/bkb.jpg);
  background-size: 212px 212px;
  background-position: -53px -106px;
}
@media screen and (max-width: 480px) {
  .tile.tile-bkb-1024 .tile-inner {
      background-image: url(../image/bkb.jpg);
      background-size: 116px 116px;
      background-position: -29px -58px;
    }
}